<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=PANKAJ;Initial Catalog=DBEvent;User ID=sa;Password=techno123;" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString" connectionString="Data Source=103.93.16.117;Initial Catalog=technos7_DBSkillAbleIndia;User ID=technos7_skillableindia;Password=6Qg#df8qlig1T1alL;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=103.93.16.117;Initial Catalog=technos7_DBSkillAbleIndia;User ID=technos7_skillableindia;Password=I1vso2tc75xQVo$wb;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=103.120.176.21;Initial Catalog=driipsin_DBGaneshEmpire;User ID=driipsin_ganeshempire;Password=na1!p4I57;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <machineKey validationKey="A7F72056248AFD22909339203551AD978B811832E548C1AF5EFD5E166E0434A05506817C12BE0F088518871ABA9BB2E8CDFFBE80D349C18CD1A99DFBDDD607D1" decryptionKey="26EC36710037A79042258260635F8C3DC7F1BFF0AD75519BE0834CF117BF99B1" validation="SHA1" decryption="AES"/>
    <httpRuntime maxRequestLength="104850" executionTimeout="600" enableVersionHeader="false" delayNotificationTimeout="20"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <!--<add key="saltValue" value=""/>
    <add key="payID" value=""/>-->
    <add key="saltValue" value=""/>
    <add key="payID" value=""/>
  </appSettings>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>